header{
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 5px;
    margin-bottom: 40px;
  }
  a{
      padding-left: 20px;
  }
  #ai a:hover{
    color: #bda2e7;
    font-size: 22px;
  }
  #Name{
      color: #bda2e7;
      font-size: 32px;
    font-weight: bold;
    padding-right: 500px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
  }
  #ai a{
      color: #fefefe;
      text-decoration: none;
      font-size: 20px;
  }
  h1{
      font-size: 35px; 
      margin-left: 40px;
      color: #fefefe; 
  }
  h1,p,h2{
      font-family: 'Oswald', sans-serif;
  }
  p{
    color: #bda2e7;
    font-size: 17px;
  }
  body{
      background-color: rgba(29,20,37,255);
  }
  #outline{
      height: 2500px;
      margin: 30px 60px;
      background-image: radial-gradient(#443454,#272033,#241c2e,#221a2c,rgba(29,20,37,255));
  }
  main{
      height: 700px;
      margin: 5px;
  }
  #con2{
    margin: 5px 40px;
  }
  #con1{
     height: 400px;
     margin: 5px 40px;
  }
  #fs{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 5px;
  }
  img{
    height: 70px;
    width: 70px;
  }

  h2{
    color: #bda2e7;
    font-size: 25px;
    margin-left: 75px;
  }
  video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

  